[workspace]

members = [
    "enclone",
    "enclone_com",
    "enclone_core",
    "enclone_help",
    "enclone_main",
    "enclone_print",
    "enclone_proto",
    "enclone_tail",
]

# ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓

# dev mode profile: setting lto = true or lto = "thin" or codegen-units = 1 or even
# codegen-units = 5 all speed up execution (as measured by our cycle count test), by up to
# about 10%, but they all have at least some effect on compile time, and it doesn't seem worth it

[profile.dev]
debug = 1
opt-level = 3

# ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓

[profile.release]
debug = 1
lto = true
codegen-units = 1
overflow-checks = true

# ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓

[profile.test]
debug = 1
opt-level = 3

# ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓

# Cautionary note.  We set package versions in enclone_versions, but it's not clear that
# this is a sound practice, particularly in the case where a crate outside the enclone repo
# depends on a crate in the enclone repo.  Such an external crate sees "*" and it's not clear
# what is done with that.
