# This file contains master definitions for Cargo.toml files in this workspace.
#
# If you want to change the version of a crate that's used, edit this file, and not one
# of the Cargo.toml files in the crates within this repo.  Then use sync_to_master (which
# is in the enclone crate) to propagate the change.  When you run "cargo t", this is enforced.

# to restore
# align_tools = "0.1"
align_tools = { git = "https://github.com/10XGenomics/rust-toolbox.git", rev="d566f5b43ae3eeaf16e5b64caf4800bed2f13d27" }
amino = "0.1"
ansi_escape = "0.1"
assert_cmd = "1.0.3"
async-trait = "0.1"
# bumping attohttpc to 0.16 would cause a ~1.5% increase in executable size
attohttpc = { version = "0.12", default-features = false, features = ["compress", "tls-rustls"] }
# to restore this line when bio 0.35 is released
# bio = ">=0.33"
bio = { git = "https://github.com/rust-bio/rust-bio", rev = "9f1452b128fbdbeb54d0823f6da17f40e3cc1575" }
bio-types = ">=0.11.0"
bit-set = "0.5"
byteorder = "1.4.2"
bytes = ">=0.5.5, <2"
chrono = "0.4.19"
cocoa = "0.24"
debruijn = "0.3.2"
dirs = "3.0.1"
edit-distance = "2.1.0"
enclone_core = { path = "../enclone_core" }
enclone_help = { path = "../enclone_help" }
enclone = { path = "../enclone" }
enclone_print = { path = "../enclone_print" }
enclone_proto = { path = "../enclone_proto" }
enclone_server_proto = { path = "../enclone_server_proto" }
enclone_tail = { path = "../enclone_tail" }
equiv = "0.1.2"
evalexpr = "5.0.5"
failure = "0.1.6"
file-lock = "1.1.20"
flate2 = "1.0.20"
float-ord = "0.2.0"
fs_extra = "1.1"
futures = { version = "0.3.0", features = [] }
git = "https://github.com/10xGenomics/hdf5-rust.git"
graph_simple = "0.1.2"
hdf5 = { git = "https://github.com/10xGenomics/hdf5-rust.git", rev = "d1d0c6fed1f6e595e4e2cad226caf8dc9ad4fb8d", features = ["conda"] }

# flaky way of getting to more recent iced/iced_aw

iced = { git = "https://github.com/genusistimelord/iced.git", features = ["canvas", "tokio", "svg", "wgpu", "image", "default_system_font", "default", "async-std", "smol", "palette"] }
iced_aw = { git = "https://github.com/genusistimelord/iced_aw.git", branch = "iced-main", default-features = false, features = ["card", "colors", "modal"] }
iced_native = { git = "https://github.com/genusistimelord/iced.git" }

# default access to iced/iced_aw, but out of date

# iced = { version = "0.3", features = ["canvas", "tokio", "svg", "wgpu", "image", "default_system_font", "default", "async-std", "smol", "palette"] }
# iced_aw = { git = "https://github.com/iced-rs/iced_aw", rev = "3dfce43396af457aaee835dbe281663a41a261ab", default-features = false, features = ["card", "colors", "modal"] }
# iced_native = "0.4"

io_utils = "0.2"
itertools = ">= 0.8, <= 0.11"
lazy_static = "1.4"
libc = "0.2.85"
log = "0.4"
log4rs = "1.0"
mach = "0.3"
mirror_sparse_matrix = "0.1"
ndarray = ">= 0.14"
nix = "0.19.1"
objc = "0.2"
pager = "0.16.0"
perf_stats = "0.1"
permutation = "0.2.5"
petgraph = "0.5"
plotters = { version = "^0.3.0", default_features = false, features = ["svg_backend", "point_series"] }
png-decoder = "0.1"
pretty_trace = "0.5"
procfs = "0.9"
prost = { version = ">=0.6.1, <0.8", features = [] }
prost-build = ">=0.6.1, <0.8"
rand = "0.8"
rayon = "1.4"
# resvg = "0.15.0"
resvg = { git = "https://github.com/RazrFalcon/resvg", rev = "6b29007311edc5022635362fe56f6e5c0318fdeb" }
regex = { version = "1.3.1", default-features = false, features = ["std", "perf"] }
serde = "1.0.90"
serde_derive = "1.0"
serde_json = "*"
sha2 = "0.9.3"
stats_utils = "0.1"
stirling_numbers = "0.1.3"
string_utils = "0.1"
superslice = "1.0.0"
tables = "0.1"
tar = "0.4.33"
tilde-expand = "0.1.1"
tiny-skia = "0.5.0"
tokio = { version = "1.6", features = ["io-util", "macros", "rt-multi-thread"] }
tokio-stream = { version = "0.1", features = ["net"] }
tokio-util = { version = "0.6", features = ["net"] }
tonic = "0.4"
tonic-build = { version = "0.4", features = [] }
# usvg = { version = "0.14.1", default-features = false }
usvg = { git = "https://github.com/RazrFalcon/resvg", rev = "6b29007311edc5022635362fe56f6e5c0318fdeb" }
vdj_ann = { git = "https://github.com/10XGenomics/rust-toolbox.git", rev="6e69244cbb9802fe720e990f9387673b96475ae0" }
vector_utils = "0.1.3"
