# This file contains master definitions for Cargo.toml files in this workspace.
#
# If you want to change the version of a crate that's used, edit this file, and not one
# of the Cargo.toml files in the crates within this repo.  Then use sync_to_master (which
# is in the enclone crate) to propagate the change.  When you run "cargo t", this is enforced.

# to restore
align_tools = "0.1"
amino = "0.1"
ansi_escape = "0.1"
arboard = "1"
assert_cmd = "1"
async-trait = "0.1"
# bumping attohttpc to 0.16 would cause a ~1.5% increase in executable size
attohttpc = { version = "0.12", default-features = false, features = ["compress", "tls-rustls"] }
bio = "0.37"
bio-types = "0.12"
bit-set = "0.5"
byteorder = "1"
bytes = "1"
chrono = "0.4"
cocoa = "0.24"
debruijn = "0.3"
dirs = "3"
edit-distance = "2"
enclone_core = { path = "../enclone_core" }
enclone_help = { path = "../enclone_help" }
enclone = { path = "../enclone" }
enclone_print = { path = "../enclone_print" }
enclone_proto = { path = "../enclone_proto" }
enclone_server_proto = { path = "../enclone_server_proto" }
enclone_tail = { path = "../enclone_tail" }
equiv = "0.1"
evalexpr = "6"
failure = "0.1"
file-lock = "1"
flate2 = "1"
float-ord = "0.3"
fs_extra = "1.2"
git = "https://github.com/10xGenomics/hdf5-rust.git"
graph_simple = "0.1"
hdf5 = { git = "https://github.com/10xGenomics/hdf5-rust.git", rev = "d1d0c6fed1f6e595e4e2cad226caf8dc9ad4fb8d", features = ["conda"] }
iced = { git = "https://github.com/hecrj/iced", rev = "8fe8b6b168f193fadb495c78c076262d9114b14e", features = ["canvas", "tokio", "wgpu", "image", "default_system_font", "default", "async-std", "smol", "palette"] }
iced_native = { git = "https://github.com/hecrj/iced", rev = "8fe8b6b168f193fadb495c78c076262d9114b14e" }
image = "0.23"
io_utils = "0.2"
itertools = "0.10"
jpeg-decoder = "0.1"
lazy_static = "1"
libc = "0.2"
log = "0.4"
mach = "0.3"
mirror_sparse_matrix = "0.1"
ndarray = "0.14"
nix = "0.22"
objc = "0.2"
pager = "0.16"
perf_stats = "0.1"
permutation = "0.2"
petgraph = "0.5"
plotters = { version = "0.3", default_features = false, features = ["svg_backend", "point_series"] }
png-decoder = "0.1"
pretty_trace = "0.5"
procfs = "0.9"
prost = { version = "0.8", features = [] }
prost-build = "0.8"
rand = "0.8"
rayon = "1.5"
# resvg = "0.15"
resvg = { git = "https://github.com/RazrFalcon/resvg", rev = "6b29007311edc5022635362fe56f6e5c0318fdeb" }
regex = { version = "1.3", default-features = false, features = ["std", "perf"] }
serde = "1"
serde_derive = "1"
serde_json = "1"
sha2 = "0.9"
stats_utils = "0.1"
stirling_numbers = "0.1"
string_utils = "0.1"
superslice = "1"
tables = "0.1"
tar = "0.4"
tilde-expand = "0.1"
tiny-skia = "0.5"
tokio = { version = "1.6", features = ["io-util", "macros", "rt-multi-thread"] }
tokio-stream = { version = "0.1", features = ["net"] }
tonic = "0.5"
tonic-build = { version = "0.5", features = [] }
# usvg = { version = "0.14", default-features = false }
usvg = { git = "https://github.com/RazrFalcon/resvg", rev = "6b29007311edc5022635362fe56f6e5c0318fdeb" }
vdj_ann = { git = "https://github.com/10XGenomics/rust-toolbox.git", rev="9cc9991f102cf87a0ed546c5bf64c1beae909603" }
vector_utils = "0.1"
