# This file contains master definitions for Cargo.toml files in this workspace.
#
# If you want to change the version of a crate that's used, edit this file, and not one
# of the Cargo.toml files in the crates within this repo.  Then use sync_to_master (which
# is in the enclone crate) to propagate the change.  When you run "cargo t", this is enforced.

align_tools = { git = "https://github.com/10XGenomics/rust-toolbox.git", rev="591b502c92a7d3825fbe7bb20994e0787cc29a9d" }
amino = "0.1.4"
ansi_escape = "0.1.0"
assert_cmd = "0.12.0"
attohttpc = { version = "0.12", default-features = false, features = ["compress", "tls-rustls"] }
bio = { git = "https://github.com/rust-bio/rust-bio.git", rev = "792d3e21296d85a711f1a383db513924528b6da5" }
# bio = ">=0.32"
byteorder = "1.4.2"
bytes = ">=0.5.5, <2"
chrono = "0.4.15"
debruijn = "0.3.2"
dirs = "3.0.1"
edit-distance = "2.1.0"
enclone_core = { path = "../enclone_core" }
enclone_help = { path = "../enclone_help" }
enclone = { path = "../enclone" }
enclone_print = { path = "../enclone_print" }
enclone_proto = { path = "../enclone_proto" }
enclone_tail = { path = "../enclone_tail" }
equiv = "0.1.2"
evalexpr = "5.0.5"
failure = "0.1.6"
file-lock = "1.1.20"
flate2 = "1.0.20"
float-ord = "0.2.0"
git = "https://github.com/10xGenomics/hdf5-rust.git"
graph_simple = "0.1.1"
hdf5 = { git = "https://github.com/10xGenomics/hdf5-rust.git", rev = "d1d0c6fed1f6e595e4e2cad226caf8dc9ad4fb8d", features = ["conda"] }
io_utils = "0.2"
itertools = ">= 0.8, <= 0.11"
mirror_sparse_matrix = "0.1"
ndarray = ">= 0.14"
pager = "0.16.0"
perf_stats = "0.1.3"
permutation = "0.2.5"
petgraph = "0.4.13"
pretty_trace = "0.4"
prost = ">=0.6.1, <0.8"
prost-build = ">=0.6.1, <0.8"
rayon = "1.4"
regex = { version = "1.3.1", default-features = false, features = ["std", "perf"] }
serde = "1.0.90"
serde_derive = "1.0"
sha2 = "0.9.3"
stats_utils = "0.1"
stirling_numbers = "0.1.3"
string_utils = "0.1.1"
superslice = "1.0.0"
tables = "0.1.2"
tar = "0.4.33"
tilde-expand = "0.1.1"
vdj_ann = { git = "https://github.com/10XGenomics/rust-toolbox.git", rev="2216c0b0b5c607792e90d37ff9e2a89f4c684602" }
vector_utils = "0.1.3"
