# This file contains master definitions for Cargo.toml files in this workspace.
#
# If you want to change the version of a crate that's used, edit this file, and not one
# of the Cargo.toml files in the crates within this repo.  Then use sync_to_master (which
# is in the enclone crate) to propagate the change.  When you run "cargo t", this is enforced.

amino = "0.1.2"
ansi_escape = "0.1.0"
assert_cmd = "0.12.0"
attohttpc = { version = "0.12", default-features = false, features = ["compress", "tls-rustls"] }
bio = ">=0.31, <=0.32"
byteorder = "1.3.2"
bytes = "0.5.5"
chrono = "0.4.15"
debruijn = "0.3.2"
dirs = "2.0.2"
edit-distance = "2.1.0"
enclone_core = { path = "../enclone_core" }
enclone_help = { path = "../enclone_help" }
enclone = { path = "../enclone" }
enclone_print = { path = "../enclone_print" }
enclone_proto = { path = "../enclone_proto" }
enclone_tail = { path = "../enclone_tail" }
equiv = "0.1.2"
evalexpr = "5.0.5"
failure = "0.1.6"
file-lock = "1.1.20"
flate2 = "1.0.17"
git = "https://github.com/pmarks/hdf5-rs.git"
graph_simple = "0.1.1"
hdf5 = { git = "https://github.com/pmarks/hdf5-rs.git", rev = "0c98e57b2af1f4247708c198b324ba3a8bc18dba", features = ["conda"] }
io_utils = "0.2"
itertools = "0.9.0"
mirror_sparse_matrix = "0.1.4"
ndarray = "0.13"
pager = "0.15.0"
perf_stats = "0.1.2"
permutation = "0.2.5"
petgraph = "0.4.13"
pretty_trace = "0.3.2"
prost = "0.6.1"
prost-build = "0.6.1"
rayon = "1.3"
regex = { version = "1.3.1", default-features = false, features = ["std", "perf"] }
serde = "1.0.90"
serde_derive = "1.0.102"
sha2 = "0.9.1"
stats_utils = "0.1.1"
stirling_numbers = "0.1.2"
string_utils = "0.1.1"
superslice = "1"
tables = "0.1.2"
tar = "0.4.29"
tilde-expand = "0.1.1"
vdj_ann = { git = "https://github.com/10XGenomics/rust-toolbox.git", version = "0.1.4" }
vector_utils = "0.1.3"
