# This file contains master definitions for Cargo.toml files in this workspace.
#
# If you want to change the version of a crate that's used, edit this file, and not one
# of the Cargo.toml files in the crates within this repo.  Then use sync_to_master (which
# is in the enclone crate) to propagate the change.  When you run "cargo t", this is enforced.

align_tools = "0.1"
amino = "0.1"
anyhow = "1"
ansi_escape = "0.1"
arboard = "2"
assert_cmd = "2"
async-trait = "0.1"
attohttpc = { version = "0.17", default-features = false, features = ["compress", "tls-rustls"] }
base64 = "0.13"
binary_vec_io = "0.1"
bio_edit = "0.1"
byteorder = "1"
bytes = "1"
chrono = { version = "0.4", default-features = false, features = ["std", "clock"] }
clipboard = "0.5"
cocoa = "0.24"
core-foundation = "0.9"
core-graphics = "0.22"
crc = "2"
debruijn = "0.3"
dirs = "4"
edit-distance = "2"
enclone_core = { path = "../enclone_core" }
enclone_help = { path = "../enclone_help" }
enclone = { path = "../enclone" }
enclone_print = { path = "../enclone_print" }
enclone_proto = { path = "../enclone_proto" }
enclone_ranger = { path = "../enclone_ranger" }
enclone_server_proto = { path = "../enclone_server_proto" }
enclone_stuff = { path = "../enclone_stuff" }
enclone_tail = { path = "../enclone_tail" }
enclone_vars = { path = "../enclone_vars" }
enclone_version = { path = "../enclone_version" }
equiv = "0.1"
evalexpr = "6"
expr_tools = "0.1"
fasta_tools = "0.1"
file-lock = "1"
flate2 = "1"
float-ord = "0.3"
fontdb = "0.7"
fs_extra = "1"
git = "https://github.com/10xGenomics/hdf5-rust.git"
graph_simple = "0.1"
hdf5 = { git = "https://github.com/10xGenomics/hdf5-rust.git", branch = "conda_nov2021", default-features=false, features = ["conda"] }
iced = { git = "https://github.com/hecrj/iced", rev = "aeec0375f0897b2ef0897c4c54476b2d0db9311a", features = ["canvas", "image", "async-std"] }
iced_native = { git = "https://github.com/hecrj/iced", rev = "aeec0375f0897b2ef0897c4c54476b2d0db9311a" }
image = { version = "0.23", features = ["jpeg", "png", "jpeg_rayon"], default-features = false }
include_dir = { version = "0.6", features = ["search"] }
io_utils = "0.3"
itertools = "0.10"
jpeg-decoder = "0.1"
lazy_static = "1"
libc = "0.2"
log = "0.4"
lz4 = "1"
mach = "0.3"
mirror_sparse_matrix = "0.1"
ndarray = "0.15"
nix = "0.23"
objc = "0.2"
pager = "0.16"
palette = "0.6"
perf_stats = "0.1"
permutation = "0.2"
petgraph = "0.6"
plotters = { version = "0.3", default_features = false, features = ["svg_backend", "point_series"] }
png-decoder = "0.1"
pprof = "0.6"
pretty_trace = "0.5"
procfs = { version = "0.11", default_features = false }
# enclone will compile without the std and prost-derive features, but other things (such as enclone_proto) break.
prost = { version = "0.9", default_features = false, features = ["std", "prost-derive"] }
prost-build = "0.9"
rand = "0.8"
rayon = "1"
resvg = { version = "0.19", default-features = false }
regex = { version = "1", default-features = false, features = ["std", "perf"] }
serde = "1"
serde_derive = "1"
serde_json = "1"
sha2 = "0.9"
stats_utils = "0.1"
stirling_numbers = "0.1"
string_utils = "0.1"
superslice = "1"
tables = "0.1"
tar = "0.4"
thiserror = "1"
tilde-expand = "0.1"
tiny-skia = "0.6"
tokio = { version = "1", default-features = false, features = ["io-util", "macros", "rt-multi-thread"] }
tokio-stream = { version = "0.1", default-features = false, features = ["net"] }
tonic = { version = "0.6", default-features = false, features = ["transport", "codegen", "prost"] }
tonic-build = { version = "0.6", default-features = false, features = ["transport", "prost"] }
users = "0.11"
usvg = { version = "0.19", features = ["text"] }
vdj_ann = "0.3"
vdj_ann_ref = { git = "https://github.com/10XGenomics/rust-toolbox.git", rev = "277f6d9708b05587a737535fa9869f58edd6bad7" }
vector_utils = "0.1"
yaml-rust = "0.4"
