code {
  font-family: "Courier New";
  background: rgb(92%,92%,92%);
}

html { 
  font-size: 100.0%; 
  font-family: "Arial";
} 

h1 {
  color: black
}

body {
  color: rgb(36, 41, 46);
  margin-left: 25px;
  margin-right: 25px;
}

hr {
    height: .25em;
    padding: 0;
    margin: 0px 0;
    background-color: #e1e4e8;
    border: 0;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
}

li {
    margin: 5px 0;
}
